AT.Web/.vs/AT.Web/v16/Server/sqlite3/db.lock
AT.Web/.vs/AT.Web/v16/Server/sqlite3/storage.ide-shm
AT.Web/.vs/AT.Web/v16/Server/sqlite3/storage.ide-wal
AT.Data/obj/Debug/netcoreapp3.0/AT.Data.csprojAssemblyReference.cache
AT.Repo/obj/Debug/netcoreapp3.0/AT.Repo.csprojAssemblyReference.cache
AT.Service/obj/Debug/netcoreapp3.0/AT.Service.csprojAssemblyReference.cache
AT.Web/obj/Debug/netcoreapp3.0/AT.csprojAssemblyReference.cache

